
.nav-ul{
    list-style-type: none;
    margin: 2px;
    margin color: rgb(0,162,232);
    border: 2px solid white;
    padding: 0;
    overflow: hidden;
    background-color: black;
}


.nav-li{
    float: left;
}

.nav-text{
    display: block;
    color: white;
    text-align: center;
    padding: 11px 10px;
    text-decoration: none;
}

.nav-text:hover{
    background-color:red;
    color: white;
    display: block;
    text-decoration: none;
}

.container{
    padding-top: 16px;
}




.box-outer{
    padding-top: 10px;
    padding-bottom: 10px;
}

.box{
    box-shadow: 2px 2px 1px #AAAAAA;
}

.box-content{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ededed;
    overflow: auto;
}

.box-title-red{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #f45c41;
    color: white;
}

.box-title-orange{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #ff8426;
    color: white;
}

.box-title-blue{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #2a79f9;
    color: white;
}

.box-title-green{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #29d190;
    color: white;
}

.box-title-purple{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #7e26f2;
    color: white;
}

.box-title-pink{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #ff4081;
    color: white;
}

.box-title-yellow{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #f2d388;
    color: white;
}






















/* slide show */
.mySlides {display:none;}